@import "tailwindcss";

:root {
  --background: #000222;
  --main-font: --font-manrope;
  /* Cores para a porra do gradient */
  --init-color: #8e19fb;
  --finish-color: #1959fb;
  --elipse: url("../public/umaElipse.png");
}

@theme {
  --color-background: var(--background);
  --font-main: var(--main-font);
  --color-init: var(--init-color);
  --color-finish: var(--finish-color);
  --background-elipse: var(--elipse);
}
