@import "tailwindcss";

:root {
  --background: #000222;
  --main-font: var(--font-manrope);
  /* Cores para a porra do gradient */
  --roxo-color: #8e19fb;
  --azul-color: #1959fb;
  /* Cor para o degrade do botão do cardproject */
  --roxo-cardProject: #6012b1;
  --azul-escuro: #102372;
  --elipse: url("../public/umaElipse.png");
  --fundo: url("../public/oni.png");
}

@theme {
  --color-background: var(--background);
  --font-main: var(--main-font);
  --color-init: var(--roxo-color);
  --color-roxo-cardProject: var(--roxo-cardProject);
  --color-finish: var(--azul-color);
  --color-azul-escuro: var(--azul-escuro);
  --background-elipse: var(--elipse);
  --background-teste: var(--fundo);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000222;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-init), var(--color-finish));
  border-radius: 9999px;
  border: 2px solid #000222;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.15);
}
